<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>customer orders</title>
        <script src="/js/angular.js" type="text/javascript"></script>
        <script src="/app.js" type="text/javascript"></script>  
        <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body ng-app="app" ng-controller="HomeController">
     
         <div class="container-fluid text-center">    
            <div class="row content">
                <div class="col-sm-2 sidenav">
                  
                    <ul  class="nav nav-pills">
                        <li class="active" ng-click="viewOrders()">
                            <a href="#1a" data-toggle="tab">My Orders</a>
                        </li>
                    </ul>
                </div>
            </div>
         </div>
        
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="1a">
           <section>
            <table class="table table-hover">
                <h1>Orders</h1>
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Status</th>
                        <th>Order Date</th>
                        <th>Total to pay</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in orderInfo">
                        <td>{{order.OrderId}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.orderDate}}</td>
                        <td>{{order.total}}</td>
                        <td><button ng-click="updateOrder(order)">update</button></td>
                    </tr>
                </tbody>
            </table>
        </section>
                
            </div>
        </div>
    </body>
</html>
